@font-face {
    font-family: 'Lovelo Line';
    src: url('LoveloLineLight.woff2') format('woff2'),
        url('LoveloLineLight.woff') format('woff');
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}

